
    <!-- Button trigger modal -->
<div class="modal fade" id="pendingAlertModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div style="width:800px; margin:0 auto;" aria-hidden="true" class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4><i class="glyphicon glyphicon-ban-circle"></i> Not allowed</h4>
            <table>
                <tr>
                    <td align="left"><i class="fa fa-spinner fa-spin" style="font-size:24px"></i></td>
                    <td align="right">&nbsp File still in process. You can only update when status is 'Finalized'.</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<!-- Button trigger modal -->
<div class="modal fade" id="serverAlertModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div style="width:800px; margin:0 auto;" aria-hidden="true" class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4><i class="glyphicon glyphicon-remove"></i> Oops! Something went wrong.</h4>

            <p>Check your internet connection. If the problem continues to persist please contact support.</p>
        </div>
    </div>
</div>

<!-- Button trigger modal -->
<div class="modal fade" id="unauthorizedAlertModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div style="width:800px; margin:0 auto;" aria-hidden="true" class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4><i class="glyphicon glyphicon-ban-circle"></i> Unauthorized!</h4>

            <p>Sorry, you are not allowed to modify other officers' files except yours.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
        $(function () {
            var status = '@(ViewBag.Status)';
            if (status == "error") {
                $('#serverAlertModal').modal('show');
            }
            else if (status == "pending") {
                $('#pendingAlertModal').modal('show');
            }
            else if (status == "unauthorized") {
                $('#unauthorizedAlertModal').modal('show');
            }
        });
</script>
