<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <section class="content">
        <div class="row">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td class="danger">No results found</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</body>
</html>

