
    <!-- Button trigger modal -->
<div class="modal fade" id="pendingAlertModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div style="width:800px; margin:0 auto;" aria-hidden="true" class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4><i class="glyphicon glyphicon-remove"></i> Fail!</h4>

            <p>Your file is still in progress. You can only change the status when it's finalized.</p>
        </div>
    </div>
</div>

<!-- Button trigger modal -->
<div class="modal fade" id="serverAlertModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div style="width:800px; margin:0 auto;" aria-hidden="true" class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4><i class="glyphicon glyphicon-remove"></i>Oops! Something went wrong.</h4>

            <p>Check your internet connection. If the problem continues to persist please contact support.</p>
        </div>
    </div>
</div>

<script type="text/javascript">
        $(function () {
            var status = '@(ViewBag.Status)';
            if (status == "error") {
                $('#serverAlertModal').modal('show');
            }
            else if (status == "Pending") {
                $('#pendingAlertModal').modal('show');
            }
        });
</script>
