<ul class="timeline">

    <!-- timeline time label -->
    <li class="time-label">
        <span class="bg-yellow">
            Email Sent!
        </span>
    </li>
    <!-- /.timeline-label -->
    <!-- timeline item -->
    <li>
        <!-- timeline icon -->
        <i class="fa fa-envelope bg-blue"></i>
        <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> @ViewBag.Seconds sec ago</span>

            <h3 class="timeline-header"><a href="#">Password Reset Confirmation</a></h3>

            <div class="timeline-body">
                <div class="timeline-item">
                    <p> Please check your email to reset your password.</p>
                </div>
            </div>

            <div class="timeline-footer">
            </div>
        </div>
    </li>
    <!-- END timeline item -->
</ul>


