@model MFSL.Models.ForgotPasswordViewModel
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <ol class="breadcrumb">
        @*<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">UI</a></li>*@
        <li class="active"><i class="fa fa-users" aria-hidden="true"></i> Accounts</li>
        <li class="active"><i class="fa fa-lock" aria-hidden="true"></i> Password</li>
        <li class="active"><i class="fa fa-question" aria-hidden="true"></i> Forgot Password</li>
    </ol>
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
                <!-- Main content -->
        <section class="content">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title"><i class="fa fa-envelope-o" aria-hidden="true"></i> Enter user's email</h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form role="form">
                            <div class="box-body">
                                <div class="form-group">
                                    @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Email" } })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <input type="submit" class="btn btn-primary" value="Email Link" />
                            </div>
                        </form>
                    </div>
                    <!-- /.box -->
                </div>
                <!-- right column -->
            </div>
            <!-- /.row -->
        </section>
    <!-- /.content -->
    }
</body>
</html>