@model MFSL.ViewModels.FileUpdateViewModel
<!DOCTYPE html>
<html>
<head>
</head>
    <body>
        <section class="content">
            <div class="col-md-6">
                @*<div class="box box-default">*@
                    <!-- /.box-header -->
                    <div class="box-body">
                    </div>
                    <div style="margin:0 auto;" class="callout callout-warning">
                        <h4><i class="fa fa-spinner fa-spin" style="font-size:24px"></i>  @ViewBag.FileStatus</h4>

                        <p>
                            Loan application awaiting approval ...
                        </p>
                    </div>
                    <!-- /.box-body -->
                @*</div>*@
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </section>
</body>
</html>
